
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Reenie+Beanie&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    overflow-x: hidden;
    font-family:$type;
    ;
  }
  
  /*header las pages*/
  header {
    width: 100%;
    height: 180px;
    padding: 10px;
    overflow: hidden;
    background-color: #bd9052;
    display: flex;
    align-items: center;
    align-content: space-between;

    .logo-velas {
        width: 110px;
        height: 110px;
        margin-right: 100px;
        margin-left: 70px;
        }
  }

 
  
  /* body de las pages*/
  body {
    font-family:$type;
    background-color: rgba(28, 30, 27, 0.1);
    width: 100%;
    min-height: auto;
    margin: 0;
    padding: 0;
    max-width: 0 auto;
  }

  footer{
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    padding: 2rem 8%;
    background-color: #bd9052;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
  .contenedor-redes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin:20px;
 
  .redes{
   
   display:inline-block;
   align-items:center;
   align-content:center;
   height: 30px;
   width: 30px;
   margin-left: 3%;
   margin-top: 10px;
   margin-bottom: 5px;
   color: #423f16;
   text-decoration: none;
    i{
      text-decoration: none;

    }
  }
}
  .menu-footer{
    display: flex;
   align-items: center;
   align-content: center;
   list-style-type: none;
   color: #3b380f;
   font-size: 15px;
 
  .menu-item{
    margin: 1rem 1.5rem;
    cursor:all-scroll;
    opacity: 0.7;
     &:hover{
       opacity: 1.3;
       color: #3b380fe1;
    }
  }
}
  .copyright{
    display: flex;
   align-items: center;
   align-content: center;
   text-align: center;
   opacity: 0.5;
   color: #3b380f;
   margin-top:10px;
  }
  .logo{
  width: 150px;
  height: 180px;
  }
  .menu-item a{
    font-size: 15px;
    color:#7f551b;
    text-decoration: none;
  }

}    
