@import'generales';
@import'variables';
@import'envios';




/*fin  estilos carrito*/
/*codigo del subtitulo */
h2 {
  padding: 30px;
  color: #3b380f;
  text-align: center;
}

.destacados h3 {
  text-align: center;
  color: #3b380f;
  padding: 40px;
  margin: 0 auto;
}

/* parrafo index*/
.informacion{
 p {
  padding: 30px;
  color: #3b380f;
  background-color: rgba(213, 159, 92, 0.3215686275);
  margin: 20px;
  text-align: justify;
  font-size: 20px;
 }
 h1 {
  padding: 30px 0 50px 0;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 200%;
}
}
/* aqui inicianlas cards*/
.contenedor-cards{
  width: auto;
  height: auto;
  margin-left: 50px;
  margin-bottom: 100px;
  margin-top: 60px;

.card {
  width: 280px;
  border: 6px solid #bd9052;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px #3b380f 0, 0, 0, 0.1;
  display: inline-block;
  margin: 5px;
  margin-left: 9%;
  .card__img1 {
    height: 180px;
    width: 100%;
    background-color: #bd9052;
    background-image: url(../img.html/molde-bb.jpeg);
  }
  
  .card__img2 {
    height: 180px;
    width: 100%;
    background-color: #bd9052;
    background-image: url(../img.html/soja.jpeg);
  }
  
  .card__img3 {
    height: 180px;
    width: 100%;
    background-color: #bd9052;
    background-image: url(../img.html/vela-card.jpeg);
  }

.card__content {
  height: 270px;
  background-color: #efeeed;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0 auto;
  padding: 25px;
  overflow: hidden;
  height: auto;
   
  .card__titulo {
    margin-top: 0;
    color: #3b380f;
    text-align: center;
  }
  
  .card__arti {
    color: #bd9052;
    padding: 15px;
    text-align: justify;
    }
  }
}
@media only screen and  (max-width: 300px){
  #contenedor-cards{
     width:auto;
     height: auto;
     margin:0 auto;
     align-items: center;
     align-self: center;
  }
  .card__content {
    width: 280px;
    margin: 0 auto;
  }
}
/* estilos modal*/
button.btn-primary {
  padding: 8px;
  background: none;
  border: 2px solid rgba(59, 56, 15, 0.7058823529);
  border-radius: 10px;
  color: #fff;
  background-color: #bd9052;
  border-color: rgba(59, 56, 15, 0.7058823529);

 & :hover {
  padding: 8px;
  border: 2px solid rgba(59, 56, 15, 0.7058823529);
  border-radius: 10px;
  color: #fff;
  background-color: rgba(59, 56, 15, 0.7058823529);
  border-color: #bd9052;
  }
}
button.btn-secondary {
  padding: 8px;
  background: none;
  border: 2px solid rgba(59, 56, 15, 0.7058823529);
  border-radius: 10px;
  color: #fff;
  background-color: #bd9052;
  border-color: rgba(59, 56, 15, 0.7058823529);

 &:hover {
  padding: 8px;
  border: 2px solid rgba(59, 56, 15, 0.7058823529);
  border-radius: 10px;
  color: #fff;
  background-color: rgba(59, 56, 15, 0.7058823529);
  border-color: #bd9052;
}
}

.modal-body {
.descripcion-producto img{
 background-color: #bd9052;
 display: flex;
 align-items: center;
 align-content: center;
 justify-content: center;
}
}
}
/* fin modal*/

/* aqui terminan las cards*/

/* inicio carousel*/
#carouselConteiner{
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 40px;

#carouselExample {
  width: 100%;
  margin: 0 auto;
  padding: 5px;
  height: auto;
}

.carousel-item{ 
  img {
  max-width: 520px;
  margin: 0 auto;
  padding: 30px;
  height: 600px;
}

 h6 {
  color: #191809;
  font-size: 25px;
  font-family: cursive;
}

 p {
  color: #191809;
  font-size: 25px;
  font-family: cursive;
}
}
.carousel-control-prev-icon {
  background-color: rgba(59, 56, 15, 0.7058823529);
}

.carousel-control-next-icon {
  background-color: rgba(59, 56, 15, 0.7058823529);
}
}
/* fin carousel*/
/*inicio estilos velas*/
.container-velas {
  width: 1300px;
  padding: 10px 0 40px 0;
  border-radius: 6px;
  margin-left: 65%;
  margin-bottom: 50px;


}

.velas {
  border-radius: solid 1px #3b380f;
  width: 200px;
  height: 200px;
  padding: 10px;
  margin: 0px 30px 30px;
  display: inline-block;
  position: relative;
  left: 10%;
}

.icon .container-icon {
  justify-content: right;
  margin-left: 95%;
  padding: 10px;
}

.contenedor-img {
  width: 100%;
  max-height: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px 0 50px 0;
}

.sub-velas {
  text-align: center;
  padding: 30px 0 40px 0;
}
.imagent {
 img {
  width: 200px;
  height: 220px;
  border: 3px solid #c89c7d;
  border-radius: 15px;
  transform: 0.7s;
  margin: 35px;
  &:hover {
    transform: scale(1.1);
    border-radius: 3px;
  }
  p {
    text-align: center;
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
    margin: 10px;
  }
 }
}


/*fin estilos velas*/

/*estilos moldes */
.title {
  display: flex;
  justify-content: space-evenly;
  color: #3b380f;
  padding: 30px 0 40px 0;
}

.contenedor-catalogo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-left: 90px;
  gap: 20px;
  max-width: 1300px;
  padding: 10px 0 40px 0;
  border-radius: 6px;
  margin-bottom: 50px;


.conteiner-items {
  display: grid;
  border-radius: 10px;
  width: 275px;
  &:hover {
    box-shadow: 0 10px 250px rgb(0, 0, 12);
  }
}
.item img {
  width: 280px;
  height: 300px;
  object-fit: cover;
  border-top: 5px;
  border-radius: 3px;
  transition: all 0.5s;
  &:hover {
    transform: scale(1.1);
  }
}
.infor {
  padding: 15px;
  line-height: 2;
  display: flex;
  flex-direction:column;
  gap: 8px;

  .precio {
    font-size: 18px;
    font-weight: 900px;
  }
  
   button {
    border: none;
    border-radius: 5px;
    background: none;
    background-color: rgba(189, 144, 82, 0.6588235294);
    color: #3b380f;
    padding: 4px;
    width: 70%;
    height:40px;
    margin-left: 37px;
    transition: all 0.7s;
      &:hover {
      transform: scale(1.1);
     }
    }  
  }
}
/*fin estilos moldes*/
 

/*estilos nosotros */
.nosotrosubivideo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.nosotrosubivideo > div {
  margin-bottom: 20px;
  color: #3b380f;
}

h5 {
  color: #3b380f;
  margin-bottom: 10px;
}

iframe {
  width: 200%;
  max-width: 100%;
  height: 200px;
  border: 2px solid #c89c7d;
  border-radius: 8px;
}

.nosotros-title h2 {
  padding: 5px;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 50px;
  margin-top: 30px;
  margin-bottom: 40px;

}

.descripcion-empresa p{
  padding: 30px;
  color: #3b380f;
  background-color: rgba(217, 164, 100, 0.452);
  margin: 15px;
  text-align: justify;
  font-size: 20px;
}

@media  only screen and  (max-width: 468px){
   
.descripcion-empresa p{
  padding: 10px;
  font-size: 10px;
  margin: 0 auto;
}
}

/* fin estilos nosotrso*/


@media only screen and (max-width: 350px) {
  .logo-velas {
   
    width: 60px;
    height: 60px;
    margin: auto;
    margin-right: 60px;
  }
}
@media only screen and (max-width: 850px) {
  .logo-velas {
   
    width: 100px;
    height: 100px;
    margin: auto;
    margin-right: 80%;
  }
}
@media only screen and (max-width: 1000px) {
  .contenedor-catalogo {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: auto;
    margin: auto;
    max-width: 900px;
    margin-bottom: 10px;
  }
  .conteiner-items {
    width: auto;
    margin: auto;
  }
  body {
    height: auto;
  }
}
@media only screen and (max-width: 850px) {
  .contenedor-catalogo {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: auto;
    margin: auto;
    margin-bottom: 40px;
    max-width: 700px;
    max-height: auto;
  }
  .conteiner-items {
    width: auto;
    margin: auto;
  }
}
@media screen and (max-width: 700px) {
  .contenedor-catalogo {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: auto;
    margin-bottom: 40px;
    width: 95;
    max-width: 600px;
    max-height: auto;
  }
  .conteiner-items {
    width: auto;
    margin: auto;
  }
  body {
    height: auto;
  }
}
@media only screen and (max-width: 468px) {
  .contenedor-catalogo {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: auto;
    margin: auto;
    margin-bottom: 40px;
    max-width: auto;
    max-height: auto;
  }

}
